body {
	margin-top:55px;
}
footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 35px 0 36px;
}

.category-nav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
    margin: 20px 0;
}

.category-nav .nav > li:first-child > a,
.category-nav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

.category-nav .nav > li:first-child > a,
.category-nav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}

.category-nav .nav > .active > a,
.category-nav.nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}

.category-nav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subcategory-nav {
	padding: 8px 0;
}

.product-gallery ul {
	list-style: none;
}

.navbar .user-nav .mini-basket-dropdown {
	width: 380px;
	padding:10px;
}
.navbar .user-nav .mini-basket-dropdown:after {
	left:305px;
	
}
.navbar .user-nav .mini-basket-dropdown:before {
	left:305px;
}
.mini-basket-dropdown .mini-basket-item {
	border-bottom: 1px solid #EEEEEE;
	overflow:auto;
}
.mini-basket-dropdown .mini-basket-image {
	float:left;
	margin:5px 5px 5px 0;
}
.mini-basket-dropdown .mini-basket-summary {
	float:left;
	width:110px;
}
.mini-basket-dropdown .mini-basket-qty {
	float:left;
	width:80px;
	text-align:center;
}
.mini-basket-dropdown .mini-basket-total {
	float:left;
	width:80px;
}
.mini-basket-dropdown .mini-basket-remove {
	float:left;
	width:30px;
}
.mini-basket-dropdown .no-items {
	 text-align:center;
}
.mini-basket-dropdown .btn-checkout {
	clear:none;
}