//    Breakpoints

$x-small: 360px;
$small: 480px;
$medium: 600px;
$large: 800px;
$x-large: 960px;
$xx-large: 1200px;
$xxx-large: 1600px;


//    Mixins

@mixin bp-max($max){
  @media screen and (max-width: $max){
    @content
  }
}
@mixin bp-min($min){
  @media screen and (min-width: $min){
    @content
  }
}
@mixin bp-and($min, $max){
  @media screen and (min-width: $min +1) and (max-width: $max){
    @content
  }
}