/* #Forms
================================================== */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		color: #777;
		margin: 0;		
		display: block;		
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;}
	input.error, select.error{
		border-color: #f00;
	}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }


/*================
*	Forms
	Three general classes
	
		-	form will give a generic class to show the labels above the inputs. 
			e.g
				Label
				Input

				Label
				Input

		-	form-horizontal to show the labels beside the input boxes
			e.g
				Label  |  Input
				Label  |  Input
	
		- 	form-inline will display a form along one line with the labels
			beside the inputs as well.
			e.g.
				Label  |  Input      Label  |  Input      Label  |  Input

	Submit buttons
		These have been left as the browser default so that people know
		they are submits on the page and will need styled. This is also
		due to the fact these will be styled up on a site by site basis.


*/

.form-vertical{
	
	.label-wrap{
		float: left;
		width: 100%;
		
		label, .help-inline{
			float: left;
		}
	}

	input{
		float: left;
		width: 98%;
	}
}

.form-horizontal{
	.label-wrap{
		/* 
			Left cleared in order to stop using uneccesary 
			divs in the form markup
		*/

		clear: left;
		float: left;
		padding-top: 5px;
		width: 25%;

		label, .help-inline{
			float: left;
		}

	}

	label {
		clear:both;
	}

	input{
		float: left;
		margin-bottom: 20px;
		width: 72%;

		&[type=submit]{
			clear: both;
			width: 25%;
		}
	}

	textarea{
		float: left;
		margin-bottom: 20px;
		width: 72%;
	}


	select{
		float: left;
		margin-bottom: 20px;		
		width: 75%;
	}
}

.form-inline{
	.label-wrap{
		float: left;
		margin-right: 20px;
		padding: 5px 0 0 0;

		label, .help-inline{
			float: left;
		}
	}

	input{
		float: left;
		margin-right: 20px;
	}

	select{
		float: left;
		margin-right: 20px;
		min-width: 200px;
	}
}

/*================
*	Forgotton password link
		This is here to keep it close to the form styles as this is
		where the majority of these will live.

*/

a.forgotten-password{
	float: left;
	width: 100%;
}

/*================
*	Navigation on the customer secion
*/

.account-nav{
	a{
		float: left;
		width: 100%;
	}
}