//vars  

$category-grid-initial-left-margin: 25.5208333333%;


.category-header{

	position: relative;
	padding-bottom: percentage(250/960);


	&__copy{


		width: 90%;

		@include font-size(14, 16);
		@extend %absolute-center;


		&__h{

			text-align: center;
			margin: 0 0 10px;
		}

		&__short{

		}

		&__long{

		}
	}

	&__img{

		position: absolute;
		top:0;
		left:0;


	}
}

@include bp-max($large){

	.category-header{

	&__copy{

		&__long{

			display: none;

		}
	}

}

}

@include bp-max($x-small){

	.category-header{

	&__copy{

		&__short{

			display: none;

		}
	}

}

}




.category-grid{


	&__header{
		margin-left: $category-grid-initial-left-margin;
	}


	&__sort{
		margin-left: $category-grid-initial-left-margin;	
	}


	&__footer{
		margin-left: $category-grid-initial-left-margin;	
	}


	&__filters{

		position: relative;


		&__title{

			margin: 0;

			@include font-size(24, 60);

		}


		&__responsive-trigger{

			display: none;
			float: left;
			height: 30px;
			width: 30px;


			&__bar{
				background: darkGrey;
				display: block;
				height: 6px;
				margin: 2px 0;
				width: 100%;
			}
		}

		&__form{

			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;


			&__filter{

				margin: 0;
				padding: 0;
				width: 100%;


				&__name{

					background: darkGrey;


					&:hover{

						cursor: pointer;

					}

				}


				&__options{
					height: 0px;
					overflow: hidden;

					@include hardwareAccelerate;
					@include opacity(0);
					@include transition(.6s $easeInOut all);


					&.is-open{

						@include opacity(1);

					}


					&__option{

						margin: 0;

					}
				}
			}
		}
	}


	&__product{


		.ie8 &{

			min-height: 350px;

		}


		&.col--alpha{

			margin-left: $category-grid-initial-left-margin;

		}


		&__images{

			display: block;
			position: relative;
			width: 100%;
			padding-bottom: percentage(225/225);

			&__image{

				vertical-align: bottom;
				position: absolute;
					top: 0;
					left: 0;


				&--overlay{

					
					visibility: hidden;

					@include hardwareAccelerate;
					@include opacity(0);
					@include transition(.4s $easeOut opacity);

				}
			}
		}


		&__name{

			min-height: 50px;

			@include font-size(16, 24);

		}


		&__price{

			@include font-size(16, 16);
			min-height: 18px;


		}
	}
}


.category-grid__product__images{


	&:hover{


		.category-grid__product__images__image--overlay{
			visibility: visible;
			@include opacity(1);
			
		}
	}
}


@include bp-max($large){



	.category-grid{

		margin-left: 0;
		margin-right: 0;
		width: 100%;
		padding-top: 60px;
		float: none;


		&__header, &__sort, &__footer{
			margin-left: 0;
		}


		&__product{

			@include col(4);


			&.col--alpha{

				@include col--alpha(4);

			}

			
		}

		&__filters{

			float: none;
			width: 100%;
			background: white;
			height: 60px;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 15;

			@include hardwareAccelerate;
			@include transition(.4s $easeOut height);


			&__title{

				float: left;

			}


			&__responsive-trigger{

				display: block;

			}


			&__form{

				@include hardwareAccelerate;
				@include opacity(0);
				@include transition(.4s $easeOut opacity);


				.is-open &{

					@include opacity(1);

				}


				&__filter{

					float: left;
					width: 25%;


					&__options{

						height: auto;

						@include opacity(1);

					}

				}

			}

		}

	}


}


@include bp-max($medium){


	.category-grid{


		&__product{

			margin-left: 1%;
			margin-right: 1%;
			width: 48%;


			&.col--alpha{
				margin-left: 1%;
				margin-right: 1%;
				width: 48%;
			}

		}

		&__filters{


			&__form{


				&__filter{

					float: left;
					width: 50%;

				}
			}
		}
	}	
}


@include bp-max($x-small){


	.category-grid{


		&__product{


			width: 98%;


			&.col--alpha{

				width: 98%;

			}

		}


		&__filters{


			&__form{


				&__filter{

					float: left;
					width: 100%;

				}
			}
		}
	}
}

