.cat{
	
	position: relative;
	height: 100%;
	// @extend %col--offset-padding3;

	// &__filters{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }	
	
}


.category-filters{

	position: relative;

	&__title{
		
		margin: 0;

		@include font-size(24, 60);

	}

	&__responsive-trigger{
		
		display: none;
		float: left;
		height: 30px;
		width: 30px;



		&__bar{
			background: darkGrey;
			display: block;
			height: 6px;
			margin: 2px 0;
			width: 100%;
		}
	}

	&__form{

		position: absolute;
			top: 60px;
			left: 0;
		width: 100%;

		&__filter{

			margin: 0;
			padding: 0;
			width: 100%;

			&__name{

				background: darkGrey;
				
				&:hover{

					cursor: pointer;

				}

			}

			&__options{
				height: 0px;
				overflow: hidden;
				
				@include hardwareAccelerate;
				@include opacity(0);
				@include transition(.6s $easeInOut all);

				&.is-open{

				    @include opacity(1);

				}

				&__option{

					margin: 0;

				}

			}

		}

	}

}


.product-cat-block{

	float: left;
	padding-right: 0.7%;
	padding-left: 0.7%;
	width: percentage(1/3);

	.ie8 &{
		min-height: 350px;
	}

	&--alpha{

		padding-left: 0;
		padding-right: 1.4%;

	}
	&--omega{

		padding-right: 0;
		padding-left: 1.4%;

	}
	
	&__images{

		display: block;
 		position: relative;
		width: 100%;

		&__image{

			vertical-align: bottom;

			&--overlay{

				position: absolute;
					top: 0;
					left: 0;
				visibility: hidden;

				@include hardwareAccelerate;
				@include opacity(0);
				@include transition(.4s $easeOut opacity);

			}

		}

	}

	&__name{

		min-height: 50px;

		@include font-size(16, 24);

	}

	&__price{

	@include font-size(16, 16);
	min-height: 18px;


	}

}

.product-cat-block__images{

	&:hover{

		.product-cat-block__images__image--overlay{

			visibility: visible;

			@include opacity(1);
			
		}

	}

}


@include bp-max($large){

	.category-filters, .category-content{

		float: none;
		width: 100%;

	}

	.category-filters{
		
		background: white;
		height: 60px;
		overflow: hidden;
		position: absolute;
			left: 0;
			top: 0;
		z-index: 15;
		
		@include hardwareAccelerate;
		@include transition(.4s $easeOut height);

		&__title{

			float: left;

		}

		&__responsive-trigger{
			
			display: block;

		}

		&__form{

			@include hardwareAccelerate;
			@include opacity(0);
			@include transition(.4s $easeOut opacity);

			.is-open &{
				@include opacity(1);
			}

			&__filter{

				float: left;
				width: 25%;

				&__options{

					height: auto;

					@include opacity(1);

				}

			}

		}

	}

	.category-content{
		padding-top: 60px;
	}

}


@include bp-max($medium){

	.product-cat-block{

		padding-left: 1%;
		padding-right: 1%;
		width: 50%;

	}

	.category-filters{

		&__form{

			&__filter{

				float: left;
				width: 50%;

			}

		}

	}

}


@include bp-max($x-small){

	.product-cat-block{

		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;

	}

	.category-filters{

		&__form{

			&__filter{

				float: left;
				width: 100%;

			}

		}

	}

}

