//vars  

$category-grid-initial-left-margin: 25.5208333333%;


.category-header{

	max-height:250px;
	overflow: hidden;
	padding-bottom: percentage(250/960);
	position: relative;


	&__copy{

		@include font-size(14, 16);
		@extend %absolute-center;
		width: 90%;


		&__h{

			margin: 0 0 10px;
			text-align: center;
		}
	}


	&__img{

		left:0;
		position: absolute;
		top:0;
	}
}


@include bp-max($large){

	.category-header{

		&__copy{

			&__long{

				display: none;
			}
		}
	}
}

@include bp-max($x-small){

	.category-header{


		&__copy{


			&__short{

				display: none;
			}
		}
	}
}


.category-grid{


	&__header{

		margin-left: $category-grid-initial-left-margin;
	}


	&__sort{

		margin-left: $category-grid-initial-left-margin;	
	}


	&__footer{

		margin-left: $category-grid-initial-left-margin;	
	}


	&__product{


		.ie8 &{

			min-height: 350px;
		}


		&.col--alpha{

			margin-left: $category-grid-initial-left-margin;
		}


		&__images{

			display: block;
			padding-bottom: percentage(225/225);
			position: relative;
			width: 100%;


			&__image{

				left: 0;
				position: absolute;
				top: 0;
				vertical-align: bottom;


				&--overlay{
					
					@include opacity(0);
					@include transition(.4s $easeOut opacity);
					visibility: hidden;
					@include hardwareAccelerate;
				}
			}
		}


		&__name{

			@include font-size(16, 24);
			min-height: 50px;
		}


		&__price{

			@include font-size(16, 16);
			min-height: 18px;
		}
	}
}


.category-grid__product__images{

	&:hover{

		.category-grid__product__images__image--overlay{

			@include opacity(1);
			visibility: visible;
		}
	}
}


@include bp-max($large){

	.category-grid{

		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-top: 60px;
		width: 100%;


		&__header, &__sort, &__footer{

			margin-left: 0;
		}


		&__product{

			@include col(4);


			&.col--alpha{

				@include col--alpha(4);
			}
		}
	}
}


@include bp-max($medium){


	.category-grid{


		&__product{

			margin-left: 1%;
			margin-right: 1%;
			width: 48%;


			&.col--alpha{
				margin-left: 1%;
				margin-right: 1%;
				width: 48%;
			}

		}
	}	
}


@include bp-max($x-small){


	.category-grid{


		&__product{


			width: 98%;


			&.col--alpha{

				width: 98%;
			}
		}
	}
}


.filters{

	position: relative;


	&__title{

		@include font-size(24, 60);
		margin: 0;
	}


	&__responsive-trigger{

		display: none;
		float: left;
		height: 30px;
		width: 30px;


		&__bar{

			background: darkGrey;
			display: block;
			height: 6px;
			margin: 2px 0;
			width: 100%;
		}
	}


	&__form{

		left: 0;
		top: 60px;
		position: absolute;
		width: 100%;
		@include hardwareAccelerate;
	}
}


@include bp-max($large){

	.filters{

		background: white;
		float: none;
		height: 60px;
		left: 0;
		position: absolute;
		top: 0;
		@include transition(.4s $easeOut height);
		width: 100%;
		z-index: 15;

		@include hardwareAccelerate;


		&__title{

			float: left;
		}


		&__responsive-trigger{

			display: block;
		}


		&__form{

			background: white;
			display: none;
		}
	}
}

	
.filter-collection{

	margin: 0;
	padding: 0;
	width: 100%;


	&--sublevel{

		display: none;
		margin: 0;
		overflow: hidden;
		width: 100%;
	}


	&__name{

		background: darkGrey;


		&__anchor{

			display: block;
			text-decoration: none;
		}


		&:hover{

			cursor: pointer;
		}
	}


	&__list{

		display: none;
		overflow: hidden;
		@include hardwareAccelerate;


		&.is-open{
			display: block;
		}
	}
}


@include bp-max($large){
	
	.filter-collection{
		
		float: left;
		width: 25%;


		&__list{

			display: block !important;
			height: auto;
			@include opacity(1);
		}
	}
}


@include bp-max($large){
	
	.filter-collection{

		float: left;
		width: 25%;


		&__list{

			height: auto;
			@include opacity(1);

		}
	}
}


@include bp-max($x-small){


	.filter-collection{

		float: none;
		width: 100%;
	}
}


.filter{

	margin: 0;
	position: relative;
	padding-left: 20px;
	cursor: pointer;


	&__dropdown{

		border-left: 8px solid transparent;
		border-top: 10px solid black;
		border-right: 8px solid transparent;
		height: 0;
		left: 0;
		position: absolute;
		@include transition(382ms $easeOut all);
		top: 8px;
		width: 0;


		&.is-active {
			@include transform(rotate(180deg));
		}
	}

	input[type="checkbox"]{
		position: absolute;
		left: 0;
		top: 6px;
	}
}
