//variables   

$checkout-container-bg: lightGrey;
$checkout-container-padding-h: 20;

.checkout-breadcrumbs{

	padding: #{$checkout-container-padding-h}px 0;

	&__breadcrumb{
		background: $checkout-container-bg;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;

		@include font-size($base-font-size, 40);

		&.is-active{
			background: grey;
		}
	}
}


$checkout-form-header-height: 100;
$checkout-form-margin-bottom: 5;
.checkout-form, .account-form{


	&__header{
		background: $checkout-container-bg;
		height: #{$checkout-form-header-height}px;
		margin-bottom: #{$checkout-form-margin-bottom}px;

		&__copy{


			&__heading{

				text-transform: uppercase;
				font-weight: $bold;
				color: $primaryColor;

				padding: #{($checkout-form-header-height - $base-font-size + 4) / 2}px 0;

				@include font-size($base-font-size + 2, $base-font-size + 4);

				&__box{
					text-transform: none;
					font-weight: $reg;
					float: right;

					@include font-size($base-font-size - 4 , $base-font-size + 4);

				}

			}

			

			&__anchor{

				color: lightBlue;
				text-decoration: none;
			}

		}
	}

	&__smalltext{
				@include font-size($base-font-size - 4, $base-font-size - 4);
				font-weight: $bold;
				text-transform: none;
				margin: 0;
			}


	&__form{
		
		background: $checkout-container-bg;
		margin-bottom: #{$checkout-form-margin-bottom}px;
		overflow: hidden;
		height: 0;

		@include transition(618ms $easeOut all);
		@include opacity(0);

		&.is-open{
			@include opacity(1);
			height: auto;
		}


		&__copy{

			padding: 40px 0;

			&__h{
				text-transform: uppercase;
				font-weight: $bold;
				color: $primaryColor;
				margin-bottom: 20px;

			}
			
			&.is-half{

				form{
					width: 50%;
				}
			}

			
		}
	}
}

@include bp-max($small){
	.checkout-form, .account-form{
		&__header{
			height: auto;
		}
	}
}

.checkout-review-grid{


	padding: 40px #{$checkout-container-padding-h}px 20px;
	background: $checkout-container-bg;
	width: 100%;


	&__row{

		padding: 20px 0;
		border-top: 4px solid darken($checkout-container-bg, 20%);

		&--header{
			padding: 40px 0 10px;
			

		}


		&__div{

			float: left;
			text-align: center;


			.checkout-review-grid__row--header &{
				text-transform: uppercase;
				font-weight: $bold;

			}

			span{
				display: none;
			}


			&.img{
				width: 15%;
				padding-right: 10px;

			}


			&.item{
				width: 25%; 
				text-align: left;
				
			}


			&.qty{
				width: 20%;
			}


			&.price{
				width: 20%;
			}


			&.subtotal{

				text-align: right;
				width: 20%;
			}
		}
	}

}


@include bp-max($small){
	.checkout-review-grid{


		&__row{


			&--header{
				
				display: none;
			}


			&__div{

				span{
					display: inline;
				}


				&.img{
					width: 35%;
				}


				&.item{
					width: 65%; 
				}


				&.qty{
					width: 65%;
					text-align: left;
				}


				&.price{
					width: 65%;
					text-align: left;

				}


				&.subtotal{
					width: 65%;
					text-align: left;
					margin-top: 20px;

				}
			}
		}

	}
}

@include bp-max($x-small){
	.checkout-review-grid{

		padding-top: 0;


		&__row{

			&:nth-child(2){
				border: none;
			}


			&__div{


				&.img{
					
					display: none;
				}


				&.item{
					width: 100%; 
					border-bottom : 1px solid darken($checkout-container-bg, 10%);
				}


				&.qty{
					width: 50%;
					border-bottom : 1px solid darken($checkout-container-bg, 10%);
				}


				&.price{
					width: 50%;
					border-bottom : 1px solid darken($checkout-container-bg, 10%);

				}


				&.subtotal{
					width: 100%;
					margin-top: 10px;

				}
			}
		}

	}
}

.checkout-review-bottom{

	&__addresses{

		background: $checkout-container-bg;
		padding: 30px #{$checkout-container-padding-h}px 20px;


		&__address{
			width: 50%;
			float: left;

			h3{
				@include font-size(13, 16);
				text-transform: uppercase;
			}

			p{
				@include font-size(12, 16);
				color: lighten($checkout-container-bg, 20%);
			}
			
		}


	}

	&__shipping{

		background: darken($checkout-container-bg, 25%);
		padding: 30px #{$checkout-container-padding-h}px 20px;

		h3{
			@include font-size(13, 16);
			text-transform: uppercase;
		}
	}

	&__totals{
		padding: 50px 20px 20px;
		background: $checkout-container-bg;



		&__total{
			vertical-align: top;
			@include font-size(16, 16);
			padding-bottom: 24px;
			margin: 0;

			@include transition(618ms $easeOut opacity);

			&.error{
				color: $error;
			}

			&.total{
				border-top: 4px solid darken($checkout-container-bg, 20%);
				padding-top: 20px;
			}
		}
	}

}

@include bp-max($large){

	.checkout-review-bottom{

		&__addresses{

			width: 100%;

			&__address{
				
			}


		}

		&__shipping{

			@include col(6);
			margin-left: 0;
		}

		&__totals{
			margin-top: 20px;
			@include col(6);
		}

	}

}

@include bp-max($small){

	.checkout-review-bottom{


		&__shipping{

			width: 100%
		}

		&__totals{
			margin-left: 0;
			width: 100%;
		}

	}

}

.checkout-review-default{
	background: $checkout-container-bg;
	margin: 20px 0;
	padding: #{$checkout-container-padding-h}px;

	&__submit{
		width: 100px;
	}

}


.payment{

	&__form{


		&__elem{

			label{
				text-transform: uppercase;
				@include font-size($base-font-size - 2, $base-line-height);
				font-weight: $bold;
			}

		}

		&__copy{
			text-transform: uppercase;
			@include font-size($base-font-size - 2, $base-line-height);
			font-weight: $bold;

			span.help{
				display: block;
				font-weight: $reg;
				text-transform: none;
				@include opacity(0.5);
				@include font-size($base-font-size - 2, $base-line-height - 8);
			}
		}
	}
}

@include bp-max($large){
	.payment{
		@include col(7);

		&__form{


			&__elem{

				&.col5{
					@include col(8);
				}

				&.col4{
					@include col(6);
				}
			}
		}
	}
}

@include bp-max(650){
	.payment{
		@include col(6);

		&__form{


			&__elem{

				&.col5{
					@include col(10);
				}

				&.col4{
					@include col(8);
				}
			}
		}
	}
}

@include bp-max($medium){
	.payment{
		width: 100%;
	}
}


.payment-methods{
	&__copy{

	}

	&__imgs{

		&__img{

			float: right;
		padding-left: 10px;
		width: 25%;
		}

	}
}

@include bp-max($large){

	.payment-methods{
	&__copy{
		@include col--alpha(12);
		text-align: center;
	}

	&__imgs{

		margin-top: 20px;

		@include col--alpha(12);

		&__img{

			float: right;
		padding-left: 10px;
		width: 25%;
		}

	}
}

}

@include bp-max($x-small){

	.payment-methods{


	&__imgs{


		&__img{

		width: 50%;
		margin-bottom: 20px;
		}

	}
}

}

.checkout-summary{

	&__copy{

		background: $checkout-container-bg;

		padding:0 #{$checkout-container-padding-h}px 20px;

		&__list{

			padding: 0;




			margin: 0;
			list-style: none;

			&__item{

				&.is-first{
					border: none;

					p{
						text-transform: uppercase;
						font-weight: $bold;
						margin: 0;
					}
				}

				border-top: 4px solid darken($checkout-container-bg, 20%);
				padding: 20px 0 20px;


				&__img{

					@extend %fl;
					@extend %t-align--center;
					@include col(4);
					margin-left: 0;

				}

				&__qty{
					@extend %fl;
					@extend %t-align--center;
					@include col(4);


				}

				&__price{

					text-align: right;
					@extend %fl;
					@include col(4);



				}
			}

		}

		&__subtotal{
			border-top: 4px solid darken($checkout-container-bg, 20%);	
		}

		&__total{
			border-top: 4px solid darken($checkout-container-bg, 20%);
		}

	}
}

@include bp-max($large){
	.checkout-summary{
		@include col(5);
	}
}

@include bp-max(650){
	.checkout-summary{
		@include col(6);
	}
}

@include bp-max($medium){
	.checkout-summary{
		width: 100%;
	}
}


.checkout-confirmation{

	&__thanks{

		&__heading{
			@include font-size($h3-size, $h3-size);
		}
	}

	&__summary{
		margin-top: 20px;

		&__heading{
			@include font-size($base-font-size, $base-font-size);
		}

		&__copy{
			@include font-size($base-font-size, $base-font-size + 10);
			margin: 0 0 20px;
		}
	}

	&__questions{
		margin-top: 10px;
	}

}

.continue-shopping{
	@include col(4);
}
