//variables   

$checkout-container-bg: lightGrey;


.order-summary{

	&__list{

		
		margin: 0;
		padding: 0;
		list-style: none;


		&__img{

			@extend %fl;
			@extend %t-align--center;
			@include col--alpha(5);

		}

		&__qty{
			@extend %fl;
			@extend %t-align--center;
			@include col--alpha(3);


		}

		&__price{
			
			text-align: right;
			@extend %fl;
			@include col--alpha(4);



		}
	}

}



.checkout-breadcrumbs{

	padding: 20px 0;

	&__breadcrumb{
		background: $checkout-container-bg;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;

		@include font-size(16, 40);

		&.is-active{
			background: grey;
		}
	}
}


$checkout-form-header-height: 100;
$checkout-form-margin-bottom: 5;
.checkout-form{


	&__header{
		background: $checkout-container-bg;
		height: #{$checkout-form-header-height}px;
		margin-bottom: #{$checkout-form-margin-bottom}px;

		&__copy{


			&__heading{

				text-transform: uppercase;
				font-weight: $bold;
				color: $primaryColor;

				@include font-size(18, $checkout-form-header-height);

				&__box{
					text-transform: none;
					font-weight: $reg;
					float: right;

					@include font-size(12, $checkout-form-header-height);

				}

			}

			&__anchor{

				color: lightBlue;
				text-decoration: none;
			}

		}
	}


	&__form{
		
		background: $checkout-container-bg;
		margin-bottom: #{$checkout-form-margin-bottom}px;
		overflow: hidden;

		@include transition(618ms $easeOut all);
		@include opacity(0);

		&.is-open{
			@include opacity(1);
		}


		&__copy{

			padding: 40px 0;


			form{
				width: 50%;
			}
		}
	}
}

.checkout-review-grid{


	padding: 40px 20px 20px;
	background: $checkout-container-bg;
	width: 100%;


	&__row{

		padding: 20px 0;
		border-top: 4px solid darken($checkout-container-bg, 20%);

		&--header{
			padding: 40px 0 10px;
			

		}


		&__div{

			float: left;
			text-align: center;


			.checkout-review-grid__row--header &{
				text-transform: uppercase;
				font-weight: $bold;

			}

			span{
				display: none;
			}


			&.img{
				width: 15%;
				padding-right: 10px;

			}


			&.item{
				width: 25%; 
				text-align: left;
				
			}


			&.qty{
				width: 20%;
			}


			&.price{
				width: 20%;
			}


			&.subtotal{

				text-align: right;
				width: 20%;
			}
		}
	}

}


@include bp-max($small){
	.checkout-review-grid{


		&__row{


			&--header{
				
				display: none;
			}


			&__div{

				span{
					display: inline;
				}


				&.img{
					width: 35%;
				}


				&.item{
					width: 65%; 
				}


				&.qty{
					width: 65%;
					text-align: left;
				}


				&.price{
					width: 65%;
					text-align: left;

				}


				&.subtotal{
					width: 65%;
					text-align: left;
					margin-top: 20px;

				}
			}
		}

	}
}

@include bp-max($x-small){
	.checkout-review-grid{

		padding-top: 0;


		&__row{

			&:nth-child(2){
				border: none;
			}


			&__div{


				&.img{
					
					display: none;
				}


				&.item{
					width: 100%; 
					border-bottom : 1px solid darken($checkout-container-bg, 10%);
				}


				&.qty{
					width: 50%;
					border-bottom : 1px solid darken($checkout-container-bg, 10%);
				}


				&.price{
					width: 50%;
					border-bottom : 1px solid darken($checkout-container-bg, 10%);

				}


				&.subtotal{
					width: 100%;
					margin-top: 10px;

				}
			}
		}

	}
}

.checkout-review-bottom{

	&__addresses{

		background: $checkout-container-bg;
		padding: 30px 20px 20px;


		&__address{
			width: 50%;
			float: left;

			h3{
					@include font-size(13, 16);
					text-transform: uppercase;
			}

			p{
				@include font-size(12, 16);
				color: lighten($checkout-container-bg, 20%);
			}
			
		}


	}

	&__shipping{

			background: darken($checkout-container-bg, 25%);
			padding: 30px 20px 20px;

			h3{
					@include font-size(13, 16);
					text-transform: uppercase;
			}
		}

		&__totals{
			padding: 50px 20px 20px;
			background: $checkout-container-bg;

			&__total{
				vertical-align: top;
				@include font-size(16, 16);
				padding-bottom: 24px;
				margin: 0;

				&.total{
					border-top: 4px solid darken($checkout-container-bg, 20%);
					padding-top: 20px;
				}
			}
		}

}

@include bp-max($large){

	.checkout-review-bottom{

		&__addresses{

			width: 100%;

			&__address{
				
			}


		}

		&__shipping{

			@include col(6);
			margin-left: 0;
		}

		&__totals{
			margin-top: 20px;
			@include col(6);
		}

	}

}

@include bp-max($small){

	.checkout-review-bottom{


		&__shipping{

			width: 100%
		}

		&__totals{
			margin-left: 0;
			width: 100%;
		}

	}

}

.checkout-review-submit{
	background: $checkout-container-bg;
	margin-top: 20px;
	padding: 30px 0;

	&__btn{
		width: 100px;
	}

}