// variable implementation - will make it easier to style 


$cms-menu-font-size : 16;
$cms-menu-line-height : 28;



.cms-menu{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	

	&__item{

		position: relative;

		&__anchor{
			display: block;
			background: LightGrey;
			@include font-size($cms-menu-font-size, $cms-menu-line-height);
		}

		&__submenu{
			margin: 0;
			padding: 0;
			position: absolute;
				top: #{$cms-menu-line-height}px;
				left: 0;
			width: 100%;
			z-index: 100;

			.cms-menu__item__anchor{
				@include font-size($cms-menu-font-size - 2, $cms-menu-line-height);
			}
		}

	}


}

