// Input styling

.form__field{

	width: 100%;
	padding: 1% 10px;
	@include font-size(16, 16);
	vertical-align: bottom;

	&--text{}

	&--password{}



	&--submit{
		background: LightGrey;
		color: white;
		border: none;
		border-bottom: 3px solid grey;
		margin-top: 10px;
		text-transform: lowercase;
		font-variant: small-caps;
		@include font-size(20, 20);
		width: auto;
		@extend %fr;

		&:hover{
			background: grey;
		}

	}

}


//Groups

.controls{
	margin-bottom: 20px;
	position: relative;
}




// Labels

.required{
	color: red;
}

.form__validation{
	color: orange;
	@extend %h_milli;
	position: absolute;
	bottom: -20px;
	right: 0;
}