// Input styling

.input{

	width: 100%;
	padding: 10px;
	@include font-size($base-font-size, $base-font-size);
	vertical-align: bottom;

	&--text{}

	&--password{}



	&--submit{

        width: auto;
		
		@extend %btn;
		@extend %fr;

		@include font-size(20, 20);

	}

	&__card-image{
		position: absolute;
		width: 60px;
		top: 1px;
		right: 1px;
		height: 100%;
	}

}


//Groups

.controls{
	margin-bottom: 20px;
	position: relative;
}




// Labels

.required{
	color: red;
}

.help-inline{
	color: orange;
	@extend %h_milli;
	position: absolute;
	bottom: -20px;
	left: 0;
}


// Search form
 
.ps-search{

	position: relative;

	&__input{

		padding-right: 25%;

	}

	&__btn{

		position: absolute;
		top: 0;
		right: 0;
		background: lightGrey;
		border: none;
		padding: 0;
		margin: 0;
		height: 100%;
		width: 25%;

		&:hover{
			background: grey;
		}


	}
}
