.product{

	&__options{

		&__option{

			&__label{

				display: block;

			}

			&__color{

				float: left;
				width: 32px;
				height: 32px;
				margin-right: 10px;
				@include hide-text;
				@include round-elem;

				&.is-active{
					border: 1px solid red;
				}

			}

		}

	}

	&__quantity{

		.not-saleable &{
			@extend %is-hidden;
		}

	}

	&__submit-btn{
		.not-saleable &{
			@extend %is-hidden;
		}
	}
}


.product-info{

}

.product-complement{

	&__title{

	}

	&__item{
		float: left;
		width: 23.4%;
		margin-right: 2.1%;

		&--end{
			margin-right: 0;
		}
	}


}



