/*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
  &:focus {
    outline: none;
  }
  &.is-draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  .flickity-enabled.is-draggable & {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    &.is-pointer-down {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  @include transform(translateY(-50%));

  &:hover {
    background: white;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }

  &:active {
    filter: alpha(opacity=60); /* IE8 */
    opacity: 0.6;
  }

  &:disabled {
    filter: alpha(opacity=30); /* IE8 */
    opacity: 0.3;
    cursor: auto;
  }

  &.previous {
    left: 10px;
    .flickity-rtl & {
      left: auto;
      right: 10px;
    }
  }

  &.next {
    right: 10px;
    .flickity-rtl & {
      left: 10px;;
      right: auto;
    }
  }

  svg{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  .arrow {
    fill: $templatePrimary;
  }

  &.no-svg {
    color: $templatePrimary;
    font-size: 26px;
    
  }
}


/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  left: 0;
  right: 0;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: $templatePrimary;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}

.slider__item {
  width: 100%;

  &__image {
    display: block;
    max-width: 100%;
  }
}