$standard-container-padding-h: 20;
$standard-form-header-height: 100;
$standard-form-margin-bottom: 5;


.standard{


	&__header{

		background: $quarternaryColor;
		height: #{$standard-form-header-height}px;
		margin-bottom: #{$standard-form-margin-bottom}px;


		&__heading{

			color: $primaryColor;
			font-weight: $bold;
			padding: #{($standard-form-header-height - $base-font-size + 4) / 2}px 0;
			text-transform: uppercase;

			@include font-size($base-font-size + 2, $base-font-size + 4);


			&__box{

				float: right;
				font-weight: $reg;
				text-transform: none;

				@include font-size($base-font-size - 4 , $base-font-size + 4);
			}
		}


		&__anchor{

			color: lightBlue;
			text-decoration: none;
		}
	}


	&__smalltext{

		font-weight: $bold;
		margin: 0;
		text-transform: none;
		
		@include font-size($base-font-size - 4, $base-font-size - 4);
	}


	&__copy{

		> div{
			padding: #{$standard-container-padding-h * 2}px 0;
		}
		
		background: $quarternaryColor;
		height: 0;
		margin-bottom: #{$standard-form-margin-bottom}px;
		overflow: hidden;

		@include adv-transition(618ms, $easeOut, 0, height, opacity);
		@include opacity(0);


		&.is-open{

			height: auto;

			@include opacity(1);
		}			


		&__h{

			color: $primaryColor;
			font-weight: $bold;
			margin-bottom: 20px;
			text-transform: uppercase;
		}


		.is-half{


			form{

				width: 50%;
			}
		}
	}
}



@include bp-max($small){


	.standard{


		&__header{

			height: auto;
		}
	}
}